.di_common_treeview {
    position: relative;
    height: 100%;
    background-color: #fcfaf5;
    outline: 1px solid black;
}

.di_common_treeview-caret-row {
    position: absolute;
    width: 100%;
    background-color: #d3d4d6;
}

.di_common_treeview-caret-row.di_active {
    background-color: #b6ddff;
}

.di_common_treeview-node {
    position: absolute;
}

