.di_common_treeview {
    position: relative;
    height: 100%;
}

.di_common_treeview:focus {
    outline: 1px solid black;
}

.di_common_treeview-caret-row {
    position: absolute;
    width: 100%;
    background-color: cyan;
}

.di_common_treeview-node {
    position: absolute;
}


